body{
    background-color:#a58686; 
    padding-left: 20%;
}

header{
    display: block;
    background-color: #e9e9e9;
    text-align: center;
    width: 70%;
    padding-bottom: 1px;
    padding-top: 1px;
}

main{
   height: auto; 
}

nav{
    display:inline-block;
    background-color: #64b0a7;
    height:550px;
    width:20%; 
    float:left;
}

nav h2{
    margin:12%;
}

section{
    display:inline-block;
    background-color: white;
    width:50%;
    height: 550px;
}

p{
    margin:5%;
}
.white{
    color: white;
}